
h1 {
    text-align: center;
}

/* 设置图片样式：可以设置图片的边框、圆角、阴影等样式。 */
img {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}    

/* 设置图片宽度：根据需要调整图片的显示宽度。 */
img {
    width: 80%; /* 可根据实际情况调整百分比 */
    max-width: 100%;
    height: auto;
}

/* 设置文字说明样式：可以修改文字的字体、颜色、大小、对齐方式等。 */
.figure-caption {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
    text-align: center;
    margin-top: 10px; /* 增加图片与文字说明之间的垂直间距 */
    margin-bottom: 10px; /* 增加文字说明与下方内容之间的垂直间距 */
}

.figure {
    text-align: center;
}

.red_role {
    color: red;
  }

.green-role {
    color: green;
  }